<div class="container">
    <div class="card" style="width: 100%; margin-top: 30px;">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="accountName">Name</label>
                        <input type="test" class="form-control" id="accountName" placeholder="Account Name" ng-model="account.name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="accountType">Type</label>
                        <select id="accountType" class="form-control" ng-model="account.type" ng-options="accountType._id as accountType.name for accountType in accountTypeList"></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="accountNumber">Number</label>
                        <input type="text" class="form-control" id="accountNumber" placeholder="Account Number" ng-model="account.number">
                    </div>
                    <div class="form-group col-md-6">

                        <label for="accountBalance">Balance</label>
                        <div class="input-group">

                            <input type="text" class="form-control" id="accountBalance" placeholder="Account Balance" aria-describedby="accountBalancePrepend" required ng-model="account.balance">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="accountBalancePrepend">\</span>
                            </div>
                            <div class="invalid-tooltip">
                                Please choose a unique and valid username.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group ">
                    <label for="accountDes">Description</label>
                    <input type="text" class="form-control" id="accountDes" placeholder="Account Description" ng-model="account.des">
                </div>

                <button type="submit" class="btn btn-outline-info btn-lg" ng-click="createAccount(account)">Create</button>
            </form>

        </div>
    </div>
</div>