<div class="container">
    <div class="card" style="width: 100%; margin-top: 30px;">
        <div class="card-header">
            Featured
        </div>

        <table class="table table-hover table-dark" style="margin-bottom: 0;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Bal</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="account in accountList track by $index" ng-click="moveDetail(account)">
                <td>{{$index}}</td>
                <td>{{account.name}}</td>
                <td>{{accountTypeMap[account.type].name}}</td>
                <td>{{account.balance}}</td>
            </tr>
            </tbody>
        </table>


    </div>

    <button type="button" class="btn btn-outline-primary" ui-sref="{{routeName.ACCOUNT_DETAIL}}">Primary</button>

    <button type="button" class="btn btn-outline-primary" ng-click="showModal();">Primary</button>

</div>
