journalizing
<div class="container">
    <!--<div class="row">-->
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <md-datepicker ng-model="journalizing.date" md-placeholder="Date"></md-datepicker>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control" ng-model="journalizing.account" ng-options="account.id as account.name for account in accountList"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control" ng-model="journalizing.category" ng-options="category.id as category.name for category in categoryList"></select>
                    </div>
                    <div class="form-group col-md-1">
                        <md-switch ng-model="journalizing.isIncome" aria-label="Switch 1"></md-switch>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="number" class="form-control" id="inputCity" ng-model="journalizing.amount">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip" ng-model="journalizing.des">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="post(journalizing)">Sign in</button>
            </form>
        </div>

    </div>



        <div class="row">
            <div class="card">
                <div class="card-body">
                    <md-content layout-padding>
                        <form name="projectForm">
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Company (Disabled)</label>
                                    <input ng-model="user.company" disabled>
                                </md-input-container>

                                <md-input-container>
                                    <label>Enter date</label>
                                    <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                                </md-input-container>
                            </div>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <input md-maxlength="30" required md-no-asterisk name="description" ng-model="project.description">
                                <div ng-messages="projectForm.description.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
                                </div>
                            </md-input-container>

                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Client Name</label>
                                    <input required name="clientName" ng-model="project.clientName">
                                    <div ng-messages="projectForm.clientName.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex="50">
                                    <label>Project Type</label>
                                    <md-select name="type" ng-model="journalizing.account" required>
                                        <md-option value="{{account.id}}" ng-repeat="account in accountList">{{account.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <md-input-container class="md-block">
                                <label>Client Email</label>
                                <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                                <div ng-messages="projectForm.clientEmail.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Hourly Rate (USD)</label>
                                <input required type="number" step="any" name="rate" ng-model="project.rate" min="800"
                                       max="4999" ng-pattern="/^1234$/" />

                                <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">
                                        You've got to charge something! You can't just <b>give away</b> a Missile Defense
                                        System.
                                    </div>

                                    <div ng-message="min">
                                        You should charge at least $800 an hour. This job is a big deal... if you mess up,
                                        everyone dies!
                                    </div>

                                    <div ng-message="pattern">
                                        You should charge exactly $1,234.
                                    </div>

                                    <div ng-message="max">
                                        {{projectForm.rate.$viewValue | currency:"$":0}} an hour? That's a little ridiculous. I
                                        doubt even Bill Clinton could afford that.
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-checkbox name="tos" ng-model="project.tos" required>
                                    I accept the terms of service.
                                </md-checkbox>
                                <div ng-messages="projectForm.tos.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">
                                        You must accept the terms of service before you can proceed.
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-switch class="md-primary" name="special" ng-model="project.special" required>
                                    Enable special options.
                                </md-switch>
                                <div ng-messages="projectForm.special.$error" multiple>
                                    <div ng-message="required">
                                        You must enable all special options before you can proceed.
                                    </div>
                                </div>
                            </md-input-container>
                            <div>
                                <md-button type="submit">Submit</md-button>
                            </div>

                            <p style="font-size:.8em; width: 100%; text-align: center;">
                                Make sure to include <a href="https://docs.angularjs.org/api/ngMessages" target="_blank">ngMessages</a> module when using ng-message markup.
                            </p>
                        </form>
                    </md-content>
                </div>
            </div>
        </div>
    <!--</div>-->

    <div class="row">
        table
        graphshowModal
        <div class="card bg-light" style="width: 100%;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush" ng-repeat="journalizing in journalizingList track by $index">
                <li class="list-group-item">
                    <div class="col col-md-2">
                        {{journalizing.createdAt}}
                    </div>
                    <div class="col col-md-1">
                        {{journalizing.account}}
                    </div>
                    <div class="col col-md-1">
                        {{journalizing.category}}
                    </div>
                    <div class="col col-md-1">
                        {{journalizing.isIncome}}
                    </div>
                    <div class="col col-md-1">
                        {{journalizing.amount}}
                    </div>
                    <div class="col col-md-1">
                        {{journalizing.balance}}
                    </div>
                    <div class="col col-md-4">
                        {{journalizing.des}}
                    </div>
                    <div class="col col-md-1 text-center">
                        <button class="btn btn-outline-danger btn-sm" ng-click="removeCategory(item)">Remove</button>
                    </div>
                </li>
            </ul>
        </div>

        <!--<div class="card text-white bg-dark" style="width: 100%; margin-top: 30px;">-->
        <!--<div class="card-header">Header</div>-->
        <!--<div class="card-body">-->
        <!--<form>-->
        <!--<div class="form-row">-->
        <!--<div class="col col-md-4">-->
        <!--<input type="text" class="form-control" placeholder="Name" ng-model="category.name">-->
        <!--</div>-->
        <!--<div class="col col-md-7">-->
        <!--<input type="text" class="form-control" placeholder="Description" ng-model="category.des">-->
        <!--</div>-->
        <!--<div class="col col-md-1">-->
        <!--<button type="button" class="form-control btn btn-outline-light" ng-click="addCategory()">+</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->

        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="row">
        data list
    </div>
</div>