<div class="container">
    <div class="row row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <md-datepicker ng-model="journalizing.datetime" md-placeholder="Date"></md-datepicker>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary" ng-click="isIncome(true)">
                                        <!--<input type="radio" ng-class="{checked: journalizing.isIncome}"> Radio A-->
                                        <input type="radio" ng-checked="journalizing.isIncome"> Radio A
                                    </label>
                                    <label class="btn btn-secondary" ng-click="isIncome(false)">
                                        <!--<input type="radio" ng-class="{checked: !journalizing.isIncome}"> Radio B-->
                                        <input type="radio" ng-checked="!journalizing.isIncome"> Radio B
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <select class="form-control" ng-model="journalizing.account" ng-options="account._id as account.name for account in accountList" ng-change="getBalance(journalizing.account)"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" ng-model="balance" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <select class="form-control" ng-model="journalizing.category" ng-options="category._id as category.name for category in categoryList"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputCity1" ng-model="journalizing.amount">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputCity" ng-model="journalizing.des">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="postJournalizing(journalizing)">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card bg-light" style="width: 100%;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush" ng-repeat="journalizing in journalizingList track by $index">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-md-2">
                            {{moment(journalizing.createdAt).format('YYYY-MM-DD')}}
                        </div>
                        <div class="col col-md-1">
                            {{journalizing.account}}
                        </div>
                        <div class="col col-md-1">
                            {{journalizing.category}}
                        </div>
                        <div class="col col-md-1">
                            {{journalizing.isIncome}}
                        </div>
                        <div class="col col-md-1">
                            {{journalizing.amount}}
                        </div>
                        <div class="col col-md-1">
                            {{journalizing.balance}}
                        </div>
                        <div class="col col-md-4">
                            {{journalizing.des}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        data list
    </div>
</div>