<div class="container">
    <div class="row">
        <div class="card text-white bg-dark" style="width: 100%; margin-top: 30px;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="col col-md-4">
                            <input type="text" class="form-control" placeholder="Name" ng-model="category.name">
                        </div>
                        <div class="col col-md-7">
                            <input type="text" class="form-control" placeholder="Description" ng-model="category.des">
                        </div>
                        <div class="col col-md-1">
                            <button type="button" class="form-control btn btn-outline-light" ng-click="addCategory()">+</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <hr style="width: 100%;">

    <div class="row">
        <div class="card bg-light" style="width: 100%;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush" ng-repeat="item in categoryList track by $index">
                <li class="list-group-item">
                    <div class="row" ng-if="item.editable == undefined || item.editable == false">
                        <div class="col col-md-3">
                            {{item.name}}
                        </div>
                        <div class="col col-md-6">
                            {{item.des}}
                        </div>
                        <div class="col col-md-3 text-center">
                            <button class="btn btn-outline-success btn-sm" ng-click="editCategory($index)" style="width: 70px;">Edit</button>
                            <button class="btn btn-outline-danger btn-sm" ng-click="removeCategory(item)" style="width: 70px;">Remove</button>
                        </div>
                    </div>

                    <form ng-if="item.editable == true">
                        <div class="form-row">
                            <div class="col col-md-3">
                                <input type="text" class="form-control" placeholder="Name" ng-model="item.name">
                            </div>
                            <div class="col col-md-6">
                                <input type="text" class="form-control" placeholder="Description" ng-model="item.des">
                            </div>
                            <div class="col col-md-3 text-center">
                                <button type="button" class="btn btn-outline-info btn-sm" ng-click="updateCategory(item)" style="width: 70px;">Update</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="cancelEditCategory($index)" style="width: 70px;">Cancel</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>